body{
  background: black; //baseColorScheme
  color: white;
}
input.form-control{
  color: red; //secondaryText
}
#submit-container button.submit.primary {
    background-color: red !important; //actionColor
}
label.control-label{
  color: green; //accentColor
}

.form-header img {
    max-width: 100%;
}
.formbuilder-field {
    float: left;
    width: 100%;
}

ul.nav.nav-tabs {
    display: none;
}

.above-tabs h2 {
    display: none;
}

body {
    font-family: 'Open Sans', 'OpenSans', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

.custom-form-description p {
    font-size: 12.25px;
    display: block;
    position: relative;
    color: red;
}
.col-xs-12.text {
    text-transform: none;
}
input.form-control {
    border: 0;
    border-bottom: 1px solid gray;
    background: transparent;
    font-size: 12px;
    line-height: 2.5em;
    width: 100%;
    clear: both;
}

span.help-block {
    color: gray;
    text-transform: none;
    float: left;
    clear: both;
    line-height: 3em;
}
input:focus, textarea:focus {
    outline: none;
}

textarea {
    width: 100%;
    background: none;
    border: none;
    font-family: 'Open Sans', 'OpenSans', sans-serif;
    padding: 12px 0;
    border-bottom: 1px solid gray;
    height: 1em;
    overflow: hidden;
    resize: none;
    font-size: 12px;
}


label {
    clear: both;
    float: left;
    margin-top: 20px;
}

span.help-text-top {
    display: none;
}
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none;
}

.formbuilder-field {
    float: left;
    width: 100%;
}

span.optionname {
    color: gray;
    text-transform: none;
    font-size: 13px;
}


input[type="checkbox"]+span::after, input[type="radio"]+span::after {
    position: absolute;
    left: -38px;
    top: 1px;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #343434;
    font-family: fms;
    font-size: 33px;
    opacity: 0;
    content: "\e2d7";
    transition: .5s ease all;
}
input[type="checkbox"]+span::before, input[type="radio"]+span::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 12px;
    width: 15px;
    height: 15px;
    border-radius: 9999px;
    box-shadow: inset 0 0 0 1px #d2d2d2;
    transition: .5s ease all;
    content: "";
    background-color: transparent;
}
input[type="checkbox"]+span, input[type="radio"]+span {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
    position: relative;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    color: #898989;
    text-transform: uppercase;
    padding-left: 24px;
}input[type="checkbox"], input[type="radio"]{
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
    z-index: -1;
    opacity: 0;
    float: left;
}

.checkbox label, .radio label {
    margin-top: 0;
    text-transform: none;
    padding: 0;
    height: 22px;
}

span.optionname.ng-binding {
    text-transform: none;
    letter-spacing: 0;
}

span.optionname {
    text-transform: none !important;
    letter-spacing: 0 !important;
}

.col-sm-6.col-xs-12 {
    clear: both;
    float: left;
    display: block;
    position: relative;
    width: 100%;
}

.form-group.has-success {
    float: left;
    clear: both;
}

.checkbox, .radio {
    clear: both;
    display: block;
    float: left;
}

.row > .radio:first-child, .row >.checkbox:first-child {
    padding-top: 20px;
}
button.btn.btn-primary.btn-bevel.date {
    display: none;
}

.field-date label {
  position: relative;
}

.field-date label:after {
  content: 'No date selected';
  position: absolute;
  left: 0px;
  top: 23px;
  color: gray;
  text-transform: none;
  width:245px;
}
.formbuilder-field[field-template-name=date] input {
    width: 100%;
}

.field-date input::placeholder{
  color: transparent;
}
.field-date input {
    width: 197px;
}
select {
    float: left;
    margin-top: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 197px;
    color: gray;
    font-size: 10px;
    padding: .5em 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio ~ span.help-block, .checkbox ~ span.help-block {
    border-top: 1px solid gray;
    width: 100%;
}
.fieldset-header h3 {
    font-size: 10px !important;
    font-weight: 400;
    color: green;
}

.fieldset {
    padding: 5px;
}

.fieldset div:first-child label {
    margin-top: 0;
}

.fieldset ~ .btn-action.btn-add.col-xs-12.text-center.ng-scope button {
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 10px;
    line-height: 3em;
    text-transform: uppercase;
}

div#submit-container {position: fixed;top: 347px;display: block;right: 5px;}

button.btn.btn-lg.mb-lg.btn-primary.submit.ng-binding {
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 25px;
    opacity: .8;
}


div#mb-formbuilder-container {
    max-height: 391px;
    overflow: auto;
  -ms-overflow-style: none;
}
div#mb-formbuilder-container::-webkit-scrollbar {
  display: none;
}
.formbuilder-field {
    display: none;
}

.formbuilder-field[field-template-name=text], .formbuilder-field[field-template-name=memo], .formbuilder-field[field-template-name=checkbox], .formbuilder-field[field-template-name=radio], .formbuilder-field[field-template-name=dropdown], .formbuilder-field[field-template-name=date], .formbuilder-field[field-template-name=numbers], .formbuilder-field[field-template-name=letters], .formbuilder-field[field-template-name=fieldset], .formbuilder-field[field-template-name=section], .formbuilder-field[field-template-name=static], .formbuilder-field[field-template-name=divider], .formbuilder-field[field-template-name=empty-space], .formbuilder-field[field-template-name=person-name], .formbuilder-field[field-template-name=email-address], .formbuilder-field[field-template-name=phone-number], .formbuilder-field[field-template-name=address], .formbuilder-field[field-template-name=payment-hidden], .formbuilder-field[field-template-name=payment-user], .formbuilder-field[field-template-name=payment-list-checkbox], .formbuilder-field[field-template-name=payment-list-radio], .formbuilder-field[field-template-name=payment-list-dropdown], .formbuilder-field[field-template-name=fund-dropdown], .formbuilder-field[field-template-name=payment-list-button], .formbuilder-field[field-template-name=payment-calculated] {
    display: block;
}

recurring-details {
    display: none;
}

payment-summary.ng-scope {
    display: none;
}

payment-method.animation-fade.ng-scope.ng-isolate-scope {
    display: none;
}

.login-actions.text-center.col-xs-12 {
    display: none;
}

.login-container {
    display: none;
}

.btn-group.dropdown {
    display: none;
}
.formbuilder-field[field-template-name=radio] .radio {
    display: none;
}
.radio ~ span.help-block, select ~ span.help-block{
  margin-top:30px;
}
.radio ~ span.help-block::before {content: 'None Selected';position: absolute;top: 34px;}
select ~ span.help-block::before {
    content: 'None Selected';
    position: absolute;
    top: 4px;
}
select {
    display: none;
}
select ~ span.help-block.ng-binding.ng-scope {
    border-top: 1px solid;
    width: 100%;
}

.row {
    position: relative !important;
}

.flag-container {
    display: none;
}

.formbuilder-field[field-template-name=phone-number] .intl-tel-input input, .formbuilder-field[field-template-name=phone-number] .intl-tel-input input[type=text], .formbuilder-field[field-template-name=phone-number] .intl-tel-input input[type=tel] {
    padding-left: 0;
}


.formbuilder-field[field-template-name=phone-number] .intl-tel-input {
    width: 100%;
}

.formbuilder-field[field-template-name=address] span.fieldname, .formbuilder-field[field-template-name=person-name] span.fieldname{
    font-size: 10px !important;
    font-weight: 400;
    color: green;
}


.formbuilder-field[field-template-name=address] label, .formbuilder-field[field-template-name=person-name] label {
    color: gray;
    text-transform: capitalize;
    margin:5px 0;
}


.formbuilder-field[field-template-name=address] .help-block, .formbuilder-field[field-template-name=person-name] .help-block {
    border-top: 1px solid gray;
    width: 100%;
    margin-top:5px;
}

.formbuilder-field[field-template-name=address] input, .formbuilder-field[field-template-name=person-name] input {
    display: none;
}

.col-xs-6.col-sm-3.form-group {
    width: 50%;
    float: left;
}

.emptyspace {
    height: 15px;
}

.col-xs-12.section-header h3 {
    color: green;
    font-size: 13px;
}

.formbuilder-field[field-template-name=static] p.ng-binding {
    color: gray;
    text-transform: none;
}

hr.divider {
    margin: 10px 0;
    color: gray;
    border-top: 1px solid gray !important;
    border-bottom: 0px !important;
}
