.custom-form-description{
display:none;
}
body{
  background: black; //baseColorScheme
  color: white;
}
input.form-control{
  color: red; //secondaryText
}
#submit-container button.submit.primary {
    background-color: red !important; //actionColor
}
label.control-label{
  color: green; //accentColor
}

